@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h2>Mis trabajos recientes</h2>
        <p>Aquí puede ver algunos de mis trabajos más recientes.</p>

        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var proyecto in Model)
                {
                    <div class="col">
                        <div class="card h-100">
                            <img class="card-img-top p-1" src="@proyecto.ImagenUrl" alt="Logo @proyecto.Titulo" />
                            <div class="card-body">
                                <h5 class="card-title">@proyecto.Titulo</h5>
                                <p class="card-text">@proyecto.Descripcion</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary" target="_blank" href="@proyecto.Link">Visitar</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}